_build
.merlin
jbuild-workspace
dune-workspace
*.install
*.tar.gz
*.pyc
*.cmly

_esy
node_modules

ocamlmerlin
ocamlmerlin-server
ocamlmerlin-lsp

# Ignore garbage files from editors
*.un~
*.swp
*.swo
